@import './base.css';
@import './scss/bootstrap.scss';

body{
  font-family: "Poppins", sans-serif !important;
  background-color: var(--color-back) !important;
}
#app {
  height: 100%;
  width: 100%;
  background: #292929;
  color: var(--color-white);
}
.wrapper-main{
  height: 100%;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 30px;
}
.cursor-pointer{
  cursor: pointer;
}
.color-pink{
  color: var(--color-pink);
}
.space{
  line-height: 1.5;
}
hr{
  background-color: var(--color-gray);
}
.bold{
  font-weight: 600;
  letter-spacing: 3px;
}
a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}
h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
  margin: 0 !important;
}
.card-c{
  background: var(--color-card);
  padding: 15px;
  border-radius: 30px;
}
.card-e{
  border-radius: 30px;
  border: var(--color-gray) solid 1px;
  background-color: #29292900;
  padding: 20px;
}
.alert-wrapper{
  display: block;
  background: #3c424771;
  font-size: 20px;
  padding: 30px 40px;
  border-radius: 30px;
  position: absolute;
  bottom: -100px;
  right: 5%;
  width: 700px;
}
.logo-item{
  transition: all .3s;
}
.numper-wrapper{
  transition: all .3s;
}
.vk-icon:hover,.numper-wrapper:hover,.logo-item:hover{
  transition: all .3s;
  transform: translateY(-10px);
}
.alert-wrapper-phone{
  display: none;
  padding: 30px 40px;
}
@media (max-width: 1200px) {
  .container-left{
    margin-top: 70px !important;
  }
}
@media (max-width: 860px) {
  .alert-wrapper{
    display: none;
  }
  .alert-wrapper-phone{
    display: block;
  }
}
@media (max-width: 600px) {
  .wrapper-services{
    padding: 40px 30px !important;
  }
  .container-left{
    margin-top: 140px !important;
  }
}
/*= loader =*/
.loader {
  position: relative;
  width: 164px;
  height: 164px;
}
.loader::before , .loader::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #fff;
  left: 50%;
  top: 50%;
  animation: rotate 1s ease-in infinite;
}
.loader::after {
width: 20px;
height: 20px;
background-color: #FF3D00;
animation: rotate 1s ease-in infinite, moveY 1s ease-in infinite ;
}

@keyframes moveY {
0% , 100% {top: 10%}
45% , 55% {top: 59%}
60% {top: 40%}
}
@keyframes rotate {
0% { transform: translate(-50%, -100%) rotate(0deg) scale(1 , 1)}
25%{ transform: translate(-50%, 0%) rotate(180deg) scale(1 , 1)}
45% , 55%{ transform: translate(-50%, 100%) rotate(180deg) scale(3 , 0.5)}
60%{ transform: translate(-50%, 100%) rotate(180deg) scale(1, 1)}
75%{ transform: translate(-50%, 0%) rotate(270deg) scale(1 , 1)}
100%{ transform: translate(-50%, -100%) rotate(360deg) scale(1 , 1)}
}